<script>
  function initShapeField() {
    jQuery(function() {
      var latitude = #{form.object.send(field.name) || field.default_latitude};
      var longitude = #{form.object.send(field.longitude_field) || field.default_longitude};
      var latlng = new google.maps.LatLng(latitude, longitude);

      var myOptions = {
        zoom: <%= field.default_zoom_level %>,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
      };

      var map = new google.maps.Map(document.getElementById("shape_map"), myOptions);

      var locations = {
            "type": "FeatureCollection",
            "features": [
                { "type": "Feature", "properties": { "shape": "Polygon", "name": "Unnamed Layer", "category": "default" }, "geometry": <%= raw field.geo_json %>}
            ]
        };
      map.data.addGeoJson(locations)

    });
  }
</script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=false&callback=initShapeField" %>

<div id="shape_map" style="margin: 20px 0; padding: 0; height: <%= field.map_height %>px; width: 100%;">
</div>
